[submodule "gdcdictionary"]
	path = gdcdictionary
	url = https://github.com/NCI-GDC/gdcdictionary.git
[submodule "PDC-Public"]
	path = PDC-Public
	url = https://github.com/esacinc/PDC-Public
[submodule "icdc-model-tool"]
	path = icdc-model-tool
	url = https://github.com/CBIIT/icdc-model-tool
[submodule "HTAN-data-pipeline"]
	path = HTAN-data-pipeline
	url = https://github.com/ncihtan/HTAN-data-pipeline.git
	branch = organized-into-packages
