[submodule "gdcdictionary"]
	path = crdc-nodes/gdcdictionary
	url = https://github.com/NCI-GDC/gdcdictionary.git
[submodule "PDC-Public"]
	path = crdc-nodes/PDC-Public
	url = https://github.com/esacinc/PDC-Public
[submodule "icdc-model-tool"]
	path = crdc-nodes/icdc-model-tool
	url = https://github.com/CBIIT/icdc-model-tool
[submodule "HTAN-data-pipeline"]
	path = crdc-nodes/HTAN-data-pipeline
	url = https://github.com/ncihtan/HTAN-data-pipeline.git
	branch = main
