[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-docker = "*"
docker-compose = "*"
faker = "*"

[packages]
google-api-python-client = "==1.7.9"
google-auth-httplib2 = "==0.0.3"
google-auth-oauthlib = "==0.4.0"
jsonschema = "==3.2.0"
fhirclient = "*"
networkx = "*"
rdflib = "*"
tabletext = "*"
fastjsonschema = "*"
orderedset = "*"
pandas = "*"
pygsheets = "*"
inflection = "*"
synapseclient = "*"
matplotlib = "*"
PyYAML = "*"
PyLD = "*"
PyGithub = "*"
py2neo = "*"
# sssom: This is a dependency we want to use, but the maintainers have let us
# ...know it is currently unstable. Therefore I've forked it and made the fixes
# ...we need. I've commented out the line using 'mapping-commons/sssom-py' for
# ...now at the most stable commit, though it still causes critical errors.
# - jef 2021/07/20
sssom = {editable = true, git = "https://github.com/joeflack4/sssom-py", ref = "dependency-lock_ccdh-terminology-service"}
# sssom = {editable = true, git = "https://github.com/mapping-commons/sssom-py", ref = "b5ffb0d71f7ec6d06991be25f5853682c1c107d9"}
prefixcommons = "*"
shortuuid = "*"
pyrdfa3 = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
python-dotenv = "*"
rfc3986 = "*"
neo4j = "*"
httpx = "*"
linkml-runtime = "*"
tccm-api = {editable = true, git = "https://github.com/HOT-Ecosystem/tccm-api"}
tccm-model = {editable = true, git = "https://github.com/HOT-Ecosystem/tccm-model"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
