[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-docker = "*"
docker-compose = "*"
faker = "*"

[packages]
google-api-python-client = "==1.7.9"
google-auth-httplib2 = "==0.0.3"
google-auth-oauthlib = "==0.4.0"
jsonschema = "==3.2.0"
fastapi-redis-cache = "*"
fhirclient = "*"
networkx = "*"
rdflib = "*"
tabletext = "*"
fastjsonschema = "*"
orderedset = "*"
pandas = "*"
pygsheets = "*"
inflection = "*"
synapseclient = "*"
matplotlib = "*"
PyYAML = "*"
PyLD = "*"
PyGithub = "*"
py2neo = "*"
# sssom: Unstable dependency, so importing at last known stable commit. - jef 2021/07/22
sssom = {editable = true, git = "https://github.com/mapping-commons/sssom-py", ref = "4dc525844b31d9577edbc9cbad0ba38f4ec9a6a0"}
prefixcommons = "*"
shortuuid = "*"
pyrdfa3 = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-multipart = "*"
python-dotenv = "*"
rfc3986 = "*"
neo4j = "*"
httpx = "*"
linkml-runtime = "*"
tccm-api = {editable = true, git = "https://github.com/HOT-Ecosystem/tccm-api"}
tccm-model = {editable = true, git = "https://github.com/HOT-Ecosystem/tccm-model"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
